!.gitignore

!*.py

__pycache__/
*.pyc
*.pyo
*.pyd

*.npy
*.pth
*.pkl
*.pt
*.h5
*.ckpt

*.log
*.out
*.err

.env
.venv/
venv/
*.json
*.yaml
*.yml

*.csv
*.tsv
*.txt
*.zip
*.tar
*.gz

.DS_Store
Thumbs.db
